<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574622577788-ul8tbh7ql39mq310ptuur0h7o292h434.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574622577788-ul8tbh7ql39mq310ptuur0h7o292h434</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>574622577788-ulb0l0sgkv93b9p1bh9fahjkvcagtcp8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUMXtLtM-TX06j33b1SFuhU-9KuCfcmyI</string>
	<key>GCM_SENDER_ID</key>
	<string>574622577788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.knRestaurant</string>
	<key>PROJECT_ID</key>
	<string>kn-restaurant</string>
	<key>STORAGE_BUCKET</key>
	<string>kn-restaurant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574622577788:ios:3b6bc51cba6cefb2a745f9</string>
</dict>
</plist>